* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Hubot Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.contain {
  width: 80%;
  margin: auto;
  height: 100%;
}
.lead .contain {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
}

.lead .contain .lives {
  margin-right: 10px;
  margin-left: 17px;
  font-size: 19px;
}
.lead .contain .lives2 {
  margin-right: 10px;
  font-size: 19px;
}
.lead .contain .lives3 {
  margin-right: 15px;
  font-size: 19px;
}
.lead .contain .lives4 {
  margin-right: 15px;
  font-size: 19px;
}
.lead .contain .lives5 {
  margin-right: 80px;
  font-size: 19px;
}
.lead .contain .juss {
  display: flex;
  flex-direction: row;
  margin-right: 85px;
  font-size: 20px;
}
.lead .contain .juss .vone {
  color: green;
}
.lead .contain img {
  width: 200px;
}
.loser {
  background: url(https://media.istockphoto.com/id/1201405342/photo/happy-university-student-reading-in-library.jpg?s=612x612&w=0&k=20&c=745LAVcjTugEdz0AbXp1Hra6oafpXL80sH5vu04LD24=)
    no-repeat center center;
  height: 100vh;
  background-size: cover;
}
.loser .contain .rightsid {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 16px;
  color: aliceblue;
  align-items: start;
  justify-content: center;
  height: 100%;
}
.loser .contain .rightsid .kez {
  font-size: 31px;
}
.loser .contain .rightsid .sto {
  font-weight: 900;
  font-size: 50px;
  width: 700px;
}
.loser .contain .rightsid .bat {
  font-size: 28px;
  width: 700px;
}
.loser .contain .rightsid .boots {
  font-size: 25px;
  background-color: green;
  padding: 25px;
}

.whole .contain {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.whole {
  background-color: peachpuff;
}
.whole .contain .rightz {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 25px;
  padding-top: 40px;
  align-items: center;
  padding-bottom: 50px;
}
.whole .contain .lefts img {
  padding-top: 50px;
  align-items: center;
  padding-bottom: 50px;
}

.lem {
  font-weight: 900;
  font-size: 40px;
}
.whole .contain .rightz .hols {
  font-size: 19px;
}
.whole .contain .rightz .vine {
  font-size: 19px;
}
.dior {
  color: green;
  font-size: 19px;
  border-bottom: green 1px solid;
  width: fit-content;
  transition: all 0.5s ease-in;
  cursor: pointer;
}
.whole .contain .rightz .dior:hover {
  transform: scale(1, 2);
}
.bleep .contain .levy {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  align-items: center;
  /* Added a width of 100% here to make sure levy is spanning accross its parent element */
  width: 100%;
}
.bleep .contain .levy .tops {
  padding: 10px;
  gap: 10px;
}
.leed {
  padding: 10px;
  width: 600px;
  text-align: center;
}
.bottom {
  display: flex;
  flex-direction: row;
  gap: 15px;
  /* Added a width of 100% here to make sure levy is spanning accross its parent element */
  width: 100%;
}
.bottom .lst {
  flex-direction: column;
  display: flex;
  padding: 15px;
  border: black 1px solid;
  width: 100%;
  margin-left: 10px;
  transition: 0.7s;
}
.bottom .gin {
  font-size: 27px;
  font-weight: 700;
  padding: 10px;
  transition: 3s;
}
.bottom .ginl {
  width: 100%;
  padding: 10px;
}
.bleep .contain .levy .bottom {
  display: flex;
  flex-direction: row;
}
.bottom .rst {
  flex-direction: column;
  display: flex;
  padding: 15px;
  border: black 1px solid;
  width: 100%;
  margin-left: 10px;
  transition: 0.7s;
}

.bleep .contain .lem {
  text-align: center;
}
.bottom .rst:hover {
  border: green 1px solid;
}
.bottom .rst:hover .gin {
  color: green;
}
.bottom .lst:hover .gin {
  color: green;
}
.bottom .lst:hover {
  border: green 1px solid;
}
.bottom .rst .blah {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.bottom .rst:hover img {
  object-fit: cover;
  /* width: 650px;
      height: 350px; */
  transform: scale(1.2);
}
.bottom .rst img {
  transition: all 1.5s;
  /* width: 100%;
      height: 100%; */
}
.bottom .lst .blah {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.bottom .lst:hover img {
  object-fit: cover;
  /* width: 650px;
      height: 350px; */
  transform: scale(1.2);
}
.bottom .lst img {
  transition: all 1.5s;
  /* width: 100%;
      height: 100%; */
}
.bozz .nipe {
  /* changed this to 100% instead of fixed width like 50vw */
  width: 100%;
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  padding: 22px;
}
.bozz .zoo {
  width: 100%;
}
.bozz .nipe .beln {
  margin-top: 10px;
  margin-bottom: 20px;
}
.bozz .nipe .vidss {
  display: flex;
  flex-direction: row;
  border: gray 1px solid;
  width: fit-content;
  margin-bottom: 15px;
  align-items: center;
}
.bozz .nipe .vidss .ply {
  font-weight: 700;
  padding: 10px;
  font-size: 20px;
}
.bozz .nipe .vidss .mon {
  padding: 10px;
  /* changed this from fixed width of 600px to 100% */
  width: 100%;
}
.trill {
  border-radius: 99999999999999999999px;
  height: fit-content;
  border: grey 1px solid;
  padding: 15px;
  margin: 9px;
}
.bozz .zoo img {
  width: 100%;
  height: 100%;
}
.bozz {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.vidss .bill .ply:hover {
  color: green;
}
.vidss:hover {
  background-color: greenyellow;
}
.trill:hover {
  background-color: green;
}
.vidss:hover .ply {
  color: green;
}

.vidss:hover .trill {
  background-color: green;
}

.vide {
  color: gray;
  font-size: 29px;
  font-weight: 800;
  /* removed the padding right 800px as you don't need it when we have already applied justify content to the parent below  */
}
.bost .contain .listen {
  display: flex;
  flex-direction: row;
  padding: 20px;
  /* Added justify-content: space-between and a width of 100%, when working with flex-box, you will find that always taking note of the width and heigth relationship of the parent and children elements would save you a lot of stress */
  width: 100%;
  justify-content: space-between;
}
.des .tr1 {
  display: flex;
  flex-direction: column;
}
.kia {
  font-size: 21px;
  width: 90%;
  padding: 20px;
  text-align: center;
}
.tr1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.des {
  display: flex;
  flex-direction: row;
}
.tr1 img {
  padding: 10px;
}
.co {
  font-size: 32px;
  font-weight: bolder;
  padding: 20px;
  color: grey;
  text-align: center;
}
.ol {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.bost {
  border-bottom: grey 1px solid;

  margin-bottom: 60px;
}
.po {
  color: grey;
  text-align: center;
  width: 100%;
}
.lll {
  width: 50%;
}
.nopp {
  display: flex;
  flex-direction: row;
}
.vel {
  background-color: peachpuff;
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vel img {
  padding: 30px;
  align-items: center;
}
.paw {
  background-color: darkgreen;
}
.bobs {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 20px;
}
.rob {
  color: azure;
  font-size: 33px;
  font-weight: 800;
}
.foe {
  color: grey;
  font-size: 20px;
}
.foes {
  color: grey;
  font-size: 20px;
}
.paw {
  margin-top: 30px;
  width: 100%;
}
.bobs .dior2 {
  color: white;
  font-size: 19px;
  border-bottom: white 1px solid;
  width: fit-content;
  transition: all 0.5s ease-in;
  cursor: pointer;
  padding: 20px 0px;
  align-self: start;
}
.cry {
  display: flex;
  flex-direction: row;
  border-bottom: 1px black dotted;
}
.greats {
  font-size: 24px;
  font-weight: 700;
  color: white;
}
.game {
  padding: 20px;
  margin: 10px;
}
.pel {
  display: flex;
  flex-direction: column;
  color: blanchedalmond;
  gap: 10px;
  margin-top: 10px;
}
.ops {
  background-color: gray;
}
.eyel {
  margin-top: 27px;
  margin-left: 60px;
  margin-right: 60px;
}
.card {
  margin-top: 27px;
  margin-left: 60px;
  margin-right: 60px;
}
.jane {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.lant {
  margin-top: 27px;
}
.loot {
  background-color: green;
  padding-right: 27px;
}
.lant .jane input {
  padding: 13px;
}
.logoss {
  margin-top: 10px;
  color: azure;
}

.ops {
  display: flex;
  flex-direction: column;
}
.pec {
  margin-top: 27px;
  text-align: center;
}
.logodiv {
  display: flex;
  flex-direction: column;
  margin-top: 27px;
}
.logohe {
  color: azure;
  font-size: 25px;
  font-weight: 400;
}
.logofo {
  color: darkblue;
}
.lead .contain .bopp {
  display: flex;
}
@media screen and (max-width: 450px) {
  .contain {
    /* increased the width of our contain class from 80% to 95% on smaller screens  */
    width: 95%;
  }
  .lead .contain .bopp {
    display: none;
  }
  .lead .contain .juss {
    display: none;
  }

  .lead .contain .logo {
    display: none;
  }
  .rightsid {
    width: 100%;
  }
  .loser .contain .rightsid .sto {
    width: 70%;
    font-size: 24px;
  }
  .loser .contain .rightsid .bat {
    font-size: 16px;
    width: 50%;
  }
  .loser .contain .rightsid .boots {
    font-size: 16px;
    padding: 10px;
  }
  .loser {
    height: 70vh;
    width: 100%;
  }
  .loser .contain .rightsid .kez {
    font-size: 16px;
  }
  .whole .contain {
    display: flex;
    flex-direction: column;
  }
  .rightz {
    width: 80%;
    width: 60vw;
    text-align: center;
  }
  .lefts img {
    width: 300px;
    text-align: center;
  }
  .lem {
    font-size: 18px;
  }
  .bleep .contain .levy .bottom {
    display: flex;
    flex-direction: column;
  }
  .bleep .contain .levy .tops .leed {
    font-size: 13px;
    width: 90%;
  }
  .bleep .contain .levy {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .bleep .contain .levy .bottom .lst .blah {
    width: 100%;
  }
  .bleep .contain .levy .bottom .lst {
  }
  .bozz {
    flex-direction: column;
  }
  .des {
    flex-direction: column;
  }
  .nopp {
    flex-direction: column;
  }
  .cry {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
